{
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true,
    },
    "globals": {
        "define": true
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "comma-dangle": [2, "always-multiline"],
        "no-console": [0, { allow: ["warn", "error"] }],
        "no-multiple-empty-lines": [2, { "max": 1 }]
    }
}
